<br /><br /><br /><br /><br />

<button {{action 'startRecording'}}>Start</button>
<button {{action 'stopRecording'}}>Stop</button>

{{#if blobURL}}
  {{mp3-player mp3file=blobURL}}
{{/if}}
<br /><br /><br /><br /><br />
